.blok1 {
    background: #ffffff;
}
.wrap {}
.square1{
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}
.square2{
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
}
.clear {
    clear: both;
    background: #858585;   
    padding-top: 50px;
}
.blok2 {
    background: #ffffff;
}
.square3{

    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF
}
.square4 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;

    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.square5 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    margin-right: 15px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.square6 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.square7 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.clear2 {
    clear: both;
    background: #868686;   
    padding-top: 50px;
}
.blok3{
    background: #fffefe;
}
.square8 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    margin-right: 15px;
    
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.square9 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
   
    margin-right: 15px;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
}

.square10 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    margin-right: 15px;
    float: right;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
    
}

.square11 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-right: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;  
}

.clear3 {
    clear: both; 
    background: #868686;   
    padding-top: 50px;
}


    /**{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}  */

    /*.contr{
    background: slategray;
    width: 1100px;
    height: 800px;
}

.block{
    
}
.block2{
    
}
.wrap {
    width: 70%;
   
}

.square1 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;

}

.square2 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.clear {
    clear: both;
        
    
}

.square3 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.square4 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.square5 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.square6 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.square7 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-left: 15px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.clear2 {
    clear: both;
}

.square8 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.square9 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin-left: 15px;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
}

.square10 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
   
    float: right;
    margin: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
    
}

.square11 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: right;
    margin: 50px;
    margin-right: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    
    
}

.clear3 {
    clear: both;
    
}  */